<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{filme.titulo}}">
  <ion-content>
    <img ng-src="img/{{filme.capa}}" style="width: 100%;">
    <div class="padding">
        <h3>{{filme.titulo}}</h3>
        <p>{{filme.info}}</p>
    </div>
  </ion-content>
</ion-view>
