<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{filme.titulo}}">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="img/{{filme.thumbnail}}">
        <h2>{{filme.titulo}}</h2>
        <p>2016 - Justin Lin</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="img/{{filme.capa}}">
        <p>{{filme.info}}</p>
        <div class="row">
          <div class="col peq">PG</div>
          <div class="col peq text-center">125min</div>
          <div class="col peq text-right">IMAX/3D</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
