<ion-view view-title="Opções">
  <ion-content>
    <ion-list>
      <ion-toggle ng-model="settings.enableFriends">
        Enable Friends
      </ion-toggle>
    </ion-list>
    <br />
    <p class="card padding" >{{debug}}</p>
    <button class="button button-full" ng-click="debugar()">localStorage</p>
    <button class="button button-full" ng-click="limpar()">limpar</p>
    <button class="button button-full" ng-click="takePicture()">Tirar Foto</p>
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
  </ion-content>
</ion-view>
