<ion-view view-title="Vou Gostar?">
    <ion-content class="padding">
        <ion-refresher pulling-text="Puxe para recarregar..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item class="item item-divider item-balanced ion-happy-outline">Acho que você vai gostar destes</ion-item>
            <ion-item class="item item-light filme" ng-repeat="filme in filmes_vaigostar" >
                <div class="back" style="background-image: url({{filme.thumbnail}});"></div>
                <a href="#/tab/filme/{{filme.id}}" class="filme_link">
                    <img src="{{filme.thumbnail}}" ng-show="filme.thumbnail" >
                    <h2>{{filme.titulo}}</h2>
                </a>

                <!-- <div class="row no-padding botoes">
                  <div class="col col-25 col-bottom primeiro">
                    <a class="button button-full button-positive ion-clock" href="#/tab/horarios/{{filme.id}}"> </a>
                  </div>
                  <div class="col col-25 col-bottom segundo">
                    <a class="button button-full button-positive ion-film-marker" href="#/tab/filme/{{filme.id}}">
                     </a>
                  </div>
                  <div class="col col-50 col-bottom">
                      <div class="row no-padding">
                          <div class="col col-50 col-bottom">
                              <a class="button button-full button-positive ion-film-marker" href="#/tab/filme/{{filme.id}}">
                                </a>
                          </div>
                          <div class="col col-50 col-bottom">
                              <a class="button button-full button-positive ion-film-marker" href="#/tab/filme/{{filme.id}}">
                                </a>
                          </div>
                      </div>
                  </div>
                </div> -->
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item item-divider item-assertive ion-sad-outline">Esses você vai detestar</ion-item>
            <ion-item class="item item-thumbnail-left item-light" ng-repeat="filme in filmes_nvaigostar">
              <img src="{{filme.thumbnail}}">
              <h2>{{filme.titulo}}</h2>
              <!-- <div class="row no-padding botoes">
                <div class="col col-50 col-bottom primeiro">
                  <a class="button button-full button-outline button-positive ion-clock" href="#/tab/horarios/{{filme.id}}">
                    Horários</a>
                </div>
                <div class="col col-50 col-bottom segundo">
                  <a class="button button-full button-outline button-positive ion-film-marker" href="#/tab/filme/{{filme.id}}">
                    Info.</a>
                </div>
              </div> -->
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
