<ion-view view-title="Bem-Vindo">
	<!-- <ion-content class="padding" ng-if="logado">
		<p>
			Faça login com seu usuário Google.
		</p>
		<button class="button button-block button-positive" ng-click="logar()">
			Logar com Google
		</button>
	</ion-content> -->
	<ion-content class="padding" >
		<p>
			É necessário estar logado para poder criar uma conta.
			É necessário estar conectado para poder se logar.
			Faça login com seu usuário Google.
		</p>
		<button class="button button-block button-positive" ng-click="logar()">
			Logar com Google
		</button>
	</ion-content>
</ion-view>
