/* Empty. Add your own CSS if you like */
.filme {
    position: relative;
    padding: 0;
}
.back{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100px;
    /*-khtml-opacity:.50;
    -moz-opacity:.50;
    -ms-filter:'alpha(opacity=50)';
    filter:alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);*/
    /*opacity:.20;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

}

.filme_link{
    display: block;
    height: 100px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.filme_link .corpo, .filme_link img{ float: left}

.corpo{color:#555}

.filme_link img{
    width: 80px;
    max-height: 100px;
}

.peq {
  font-size: 0.75em
}

.fundo-assertive {
  background-color: #ef473a
}

.no-padding {
  padding: 0
}

.dados{
    font-size: 0.7em
}
.dados .campo{
    margin-bottom: 0;
    color: #010101
}

.dados .valor{
    margin-top: 0
}

.ver_filme{
    position: absolute;
    right: 0;
    top: 30px;
}

#carregando{
    position: absolute;
    top:40%;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 10px;
}

/*.item-thumbnail-left{
    min-height: 140px;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image{
    height: auto;
    max-height: 115px;
}*/

#msg{padding: 10px}
