/* Dash Principal */
.filme {
    position: relative;
    padding: 0;
}
.back{
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.col_thumb{
    max-width: 80px;
}
.gosta .filme_link{
    display: block;
    height: 100px;
    width: auto;
    background-color: rgba(40, 165, 76, 0.5);
    text-decoration: none;
}

.detesta .filme_link{
    display: block;
    height: 100px;
    width: auto;
    background-color: rgba(228, 33, 18, 0.5);
    text-decoration: none;
}

.corpo{
    color:#fff;
    text-shadow: 1px 1px #000;
}

.corpo h2{
    color:#fff;
    font-weight: bold;
}

.filme_link img{
    width: 80px;
    max-height: 100px;
}

/* Estilos da tela de pesquisa*/

.card .col_thumb{
    float: left;
    max-width: 100px;
}

.card .col_titulo h2{
    font-size: 1.2em;
    font-weight: normal;
}

.card .col_titulo span{

}

/* Estilos Gerais */

.peq {
  font-size: 0.75em
}

.fundo-assertive {
  background-color: #ef473a
}

.no-padding {
  padding: 0
}

.dados{
    font-size: 0.7em
}
.dados .campo{
    margin-bottom: 0;
    color: #010101
}

.dados .valor{
    margin-top: 0
}

#carregando{
    position: absolute;
    top:40%;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 10px;
}

#msg{padding: 10px}
