/* Empty. Add your own CSS if you like */

#filmes button {
  margin: 0
}

.peq {
  font-size: 0.75em
}

.fundo-assertive {
  background-color: #ef473a
}

.no-padding {
  padding: 0
}

.botoes .primeiro {
  padding: 0 10px 0 0
}

.botoes .segundo {
  padding: 0 0 0 5px
}

.dados{
    font-size: 0.7em
}
.dados .campo{
    margin-bottom: 0;
    color: #010101
}

.dados .valor{
    margin-top: 0
}

.ver_filme{
    position: absolute;
    right: 5%;
    top: 40%;
}

#carregando{
    position: absolute;
    top:30%;
    margin: 0 auto;
    display: block;
    width: 100%;
}
